# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.mail-client.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\pasha\RiderProjects\mail-client\.idea\.idea.mail-client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
